= simple_form_for @champ, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.error_span :name
  = f.input :description
  = f.error_span :description
  = f.input :image_url
  = f.error_span :image_url
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), champs_path, :class => 'btn btn-default'
