- model_class = Champ
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:image_url)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @champs.each do |champ|
      %tr
        %td= link_to champ.id, champ_path(champ)
        %td= champ.name
        %td= champ.description
        %td= champ.image_url
        %td=l champ.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_champ_path(champ), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), champ_path(champ), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_champ_path, :class => 'btn btn-primary'
