- model_class = Champ
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @champ.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @champ.description
%p
  %strong= model_class.human_attribute_name(:image_url) + ':'
  %br
  = @champ.image_url


= link_to t('.back', :default => t("helpers.links.back")), champs_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_champ_path(@champ), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), champ_path(@champ), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
