= simple_form_for @skill, :html => { :class => 'form-horizontal' } do |f|
  = f.input :image_url
  = f.error_span :image_url
  = f.input :name
  = f.error_span :name
  = f.input :key
  = f.error_span :key
  = f.association :champ
  = f.error_span :champ
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), skills_path, :class => 'btn btn-default'
