- model_class = Skill
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:image_url)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:key)
      %th= model_class.human_attribute_name(:champ_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @skills.each do |skill|
      %tr
        %td= link_to skill.id, skill_path(skill)
        %td= skill.image_url
        %td= skill.name
        %td= skill.key
        %td= skill.champ_id
        %td=l skill.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_skill_path(skill), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), skill_path(skill), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_skill_path, :class => 'btn btn-primary'
