- model_class = Skill
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:image_url) + ':'
  %br
  = @skill.image_url
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @skill.name
%p
  %strong= model_class.human_attribute_name(:key) + ':'
  %br
  = @skill.key
%p
  %strong= model_class.human_attribute_name(:champ_id) + ':'
  %br
  = @skill.champ_id


= link_to t('.back', :default => t("helpers.links.back")), skills_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_skill_path(@skill), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), skill_path(@skill), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
