- model_class = Game
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @game.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @game.description


= link_to t('.back', :default => t("helpers.links.back")), games_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_game_path(@game), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), game_path(@game), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
