= simple_form_for @match, :html => { :class => 'form-horizontal' } do |f|
  = f.input :score
  = f.error_span :score
  = f.input :champ_id
  = f.error_span :champ_id
  = f.input :game_id
  = f.error_span :game_id
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), matches_path, :class => 'btn btn-default'
