- model_class = Match
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:score)
      %th= model_class.human_attribute_name(:champ_id)
      %th= model_class.human_attribute_name(:game_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @matches.each do |match|
      %tr
        %td= link_to match.id, match_path(match)
        %td= match.score
        %td= match.champ_id
        %td= match.game_id
        %td=l match.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_match_path(match), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), match_path(match), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_match_path, :class => 'btn btn-primary'
