- model_class = Match
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:score) + ':'
  %br
  = @match.score
%p
  %strong= model_class.human_attribute_name(:champ_id) + ':'
  %br
  = @match.champ_id
%p
  %strong= model_class.human_attribute_name(:game_id) + ':'
  %br
  = @match.game_id


= link_to t('.back', :default => t("helpers.links.back")), matches_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_match_path(@match), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), match_path(@match), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
