#main {
  background: url('//ehbomsaber.com.br/wp-content/uploads/2015/10/ehbomsaber_GMVLoL.png') no-repeat   center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page_title {
  color: white;
  font-size: 4vw;
}

.skills_container {
  padding-top: 10%
}

.skill {
  height: 90px;
  width: 90px;
  margin-left: 5px;
  margin-right: 5px;
}

.skill__secret, .skill__show {
  background-position: center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.skill__secret img, .skill__show img {
  width: 80px;
  height: 80px;
}

.skill__show {
  display: none;
  background-position: center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

#champ_name {
  width: 100%;
  height: 40px;
  font-size: 30px;
  text-align: center;
}

// Utils
.fill {
  min-height: 100%;
  height: 100%;
}
