.row
  .row
    .col-lg-3
    .col-lg-6
      %h1.center#page_title.text-center Qual é o champion ?
    .col-lg-3
  .col-lg-4
  .col-lg-4.skills_container
    .row
      .col-lg-3.skill.1
        .skill__secret
          = image_tag @question_image
        .skill__show
          = image_tag @q
      .col-lg-3.skill.2
        .skill__secret
          = image_tag @question_image
        .skill__show
          = image_tag @w
      .col-lg-3.skill.3
        .skill__secret
          = image_tag @question_image
        .skill__show
          = image_tag @e
      .col-lg-3.skill.4
        .skill__secret
          = image_tag @question_image
        .skill__show
          = image_tag @r
      .row
        .champ_name
          = text_field_tag 'champ_name', nil, placeholder: 'Tente a sorte...', id: 'champ_name'


  .col-lg-4

:javascript
  var skills=0;

  $('.skill__secret').on('click', function() {
    $(this).fadeOut(400);
    $(this).parent().find('.skill__show').fadeIn(400);
    skills++;
  });

  var champ_name = "#{escape_javascript @champ.name }";
  $('#champ_name').keypress(function(e) {
    if(e.which == 13) {
      if ($(this).val().downcase == champ_name.downcase) {
        alert('PARAPENIS, VOCE EH MT VIRJAO! LOLZZEEERO!');
      } else {
        alert('ERROU! CARALHO, TU EH MOH OTARIO! tamo junto =)');
      }
      $(this).val('');
      //var data = {skills: skills};
      //$.ajax({
      //  type: "POST",
      //  url: lolzero,
      //  data: data,
      //  success: success,
      //  dataType: dataType
      //});
    }
  });
